* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding-bottom: 50px; 
}


.inline-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.inline-header .header-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.inline-header .header-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* 인증 컨테이너 스타일 */
.auth-container {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px; 
    text-align: center;
}

/* 폼 입력 스타일 */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #2196F3;
    outline: none;
}

/* 버튼 스타일 */
button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1976d2;
}

/* 폼 전환 링크 */
.switch-form {
    text-align: center;
    margin-top: 10px;
}

.switch-form span {
    color: #2196F3;
    cursor: pointer;
}

/* 헤더 색상 */
.auth-container h2 {
    color: #2196F3;
}

/* footer 스타일 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2196F3;
    color: white;
    text-align: center;
    padding: 20px ;
}


/* 모바일 화면 */
@media (max-width: 600px) {
    .auth-container {
        padding: 20px;
        max-width: 90%; 
    }

    button {
        font-size: 14px;
    }

    input[type="text"], input[type="password"] {
        font-size: 14px; 
    }
}

/* 태블릿 화면 */
@media (min-width: 601px) and (max-width: 1024px) {
    .auth-container {
        max-width: 80%; 
    }

    button {
        font-size: 15px; 
    }

    input[type="text"], input[type="password"] {
        font-size: 15px; 
    }
}

/* 데스크탑 화면 */
@media (min-width: 1025px) {
    .auth-container {
        max-width: 450px; 
    }

    button {
        font-size: 16px; 
    }

    input[type="text"], input[type="password"] {
        font-size: 16px; 
    }
}
